html, body {
    min-width: 290px;
    color: #f8f9fa;
    background-color: 343a40;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}
head {
    display: none;
}
#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: #fee440;
}
header {
    color: #ffea00;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
}
#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
#navbar li {
    color: #adb5bd;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}
#navbar a {
    display: block;
    padding: 10px 30px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}
section {
    display: block;
}
#main-doc header {
    text-align: left;
    margin: 0px;
}
section article {
    color: #e9ecef;
    margin: 15px;
    font-size: 0.96em;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
section li {
    margin: 15px 0px 0px 20px;
}

#linka{
    color: white;
}

@media screen and (max-width: 640px) {
  .linka {
    background: blue;
  }
}